/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.body {
    color: cornflowerblue;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select {
    max-width: 450px;
}
textarea {
    max-width: 65%;
}

h6 {
    font-weight: bold;
    color: #686868;
}

/*inputs and labels*/
.standard-label {
    display: block;
    font-size: 1.0em;
    margin: 15px 0px 5px 0px;
}
/*inputs*/
.standard-input {
    width: 40%;
    font-size: .9em;
    color: #585858;
}
.wide-input {
    width: 60%;
}
/*end inputs*/

.section-header {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
}

/*iconfonts*/
.iconfont-pencil:before {
    content: "\e07f";
}

/*buttons*/
.button-bar {
    position: absolute;
    top: 11px;
    right: 15px;
}
.active-buttton {
    padding: .375em 1em;
    margin: 10px 10px 10px 1px;
    white-space: nowrap;
    cursor: pointer;
    background-color: greenyellow;
    border: 1px solid transparent;
}

.inactive-buttton {
    padding: .375em 1em;
    white-space: nowrap;
    color: whitesmoke;
    border: 1px;
    padding: 9px 16px 10px 14px;
    text-decoration: none;
    cursor: pointer;
    background-color: grey;
    border: 1px solid transparent;
}

.button-set {
    margin: 30px 10px 10px 0px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
/*error*/
.field-validation-error {
    color: cornflowerblue;
}
.input-validation-error {
    background-color: #e6f2ff;
}