@using System.Web.Optimization
@model EntityManager.Models.GroupSubgroup.GroupManageViewModel
@{
    ViewBag.Title = "Manage Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="manage-container">
    <fieldset>
        <h2>Manage Groups</h2>        
        @{Html.RenderPartial("ManageGeneral", Model.General);}
    </fieldset>
</section>