@using System.Web.Optimization
@model EntityManager.Models.GroupSubgroup.GroupManageViewModel
@{
    ViewBag.Title = "Manage Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="manage-container">
    <fieldset>
        @{Html.RenderPartial("ManageGeneral", Model.General);}
    </fieldset>
</section>

@section page_javascript
{
    @Scripts.Render("~/bundles/groupmanagement")

    <script type="text/javascript">
        $(function () {
            new entitymanager.groupmanagement.GroupManagement().init();
        })
    </script>
}