@model EntityManager.Domain.CodeFirst.Client

@{
    ViewBag.Title = "Create entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Clients", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div>
        <h5>Create entity</h5><hr/>
    </div>

    Html.RenderPartial("_Manage", Model);
}