@model EntityManager.Domain.CodeFirst.Client

@{
    ViewBag.Title = "Entity details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="manage-section">
    <div>
        <h5>Entity details</h5><hr/>
    </div>

    @{
        Html.RenderPartial("_Display", Model);
    }

    <div class="button-set">
        @Html.ActionLink("Edit", "Edit", new {@id = Model.Id}, new {@class = "btn btn-primary", @role = "button"})
        @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-secondary", @role = "button"})
    </div>
</section>