@model EntityManager.Domain.CodeFirst.Client

@{
    ViewBag.Title = "Edit entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Clients", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h5>Edit entity</h5><hr/>
    </div>

    Html.RenderPartial("_Manage", Model);
}
