
<ul id="menu">
    <li>
        <a href="#">Manage</a>
        <ul>
            <li>
                @Html.ActionLink("Groups", "Index", "Group")
            </li>
            <li>
                @Html.ActionLink("Sub-groups", "Index", "SubGroup")
            </li>
        </ul>
    </li>
    <li><a href="#">Work</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>