@model EntityManager.Models.Account.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Edit user options";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
traf
